version: '3.8'

services:
  app:
    build: .
    container_name: gestor_tarefas_app
    ports:
      - "8080:80"
    volumes:
      - .:/var/www/html
    depends_on:
      - db
    environment:
      - DB_HOST=db
      - DB_NAME=gestor_tarefas
      - DB_USER=root
      - DB_PASS=root

  db:
    image: postgres:16-alpine
    container_name: gestor_tarefas_db
    restart: always
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
      POSTGRES_DB: gestor_tarefas
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./database/init.sql:/docker-entrypoint-initdb.d/init.sql

volumes:
  db_data:
