version: '3.8'

services:
  app:
    build: .
    container_name: gestor_tarefas_app
    ports:
      - "8080:80"
    volumes:
      - .:/var/www/html
    depends_on:
      - db
    environment:
      - DB_HOST=db
      - DB_NAME=gestor_tarefas
      - DB_USER=root
      - DB_PASS=root

  db:
    image: mysql:8.0
    container_name: gestor_tarefas_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: gestor_tarefas
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
      - ./database/init.sql:/docker-entrypoint-initdb.d/init.sql

volumes:
  db_data:
